th {
    min-width: 8rem;
}

.asked {
    float: right;
}

#answer_form {
    float: left;
}

.answer_img {
    width: 50%;
}

mark {
    border: yellow solid 1.2px;
    color: rgba(255, 255, 255, 0.82);
    background-color: rgba(255, 255, 0, 0.24);
    border-radius: 3px;
}


.inline {
    display: inline;

}

.comment {
    display: none;
}

.pointer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.clean-link {
    color: white;
    text-decoration: none;
}

.clean-link:hover {
    text-decoration: underline;
    color: white;
}

.nodecor:hover {
    text-decoration: none;
}