th {
    min-width: 8rem;
}

.asked {
    float: right;
}

#answer_form {
    float: left;
}

.answer_img {
    width: 50%;
}

.comment {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 15px;
    background: #0d292d;
    width: 75%;
}
