{% extends "layout.html" %}
{% block title %}Answers for {{id}}{% endblock %}

{% block content %}
    <a href="{{url_for('answer_form', question_id=question.id)}}"><button class="btn btn-primary text-white">Add Answer</button></a>
    <a href="{{url_for('edit_question', question_id=question.id)}}"><button class="btn btn-secondary text-white">Edit Question</button></a>
    <a href="{{url_for('delete_question', question_id=question.id)}}"><button class="btn btn-secondary text-white">Delete Question</button></a>
    <div class="card bg-primary text-white mt-3">
        <div class="card-header">
            <span class="font-weight-bold">{{ question.title }}</span>
        </div>
        <div class="card-body">
           <p class="card-text">{{ question.message|safe }}</p>
        </div>
        <div class="card-body">
            <div class="show_comment mb-3">Comments: <button class="btn btn btn-secondary text-white btn-sm">Add comment</button></div>
            <div class="new_comment" style="display: none">
                <form action="">
                    <div class="form-group">
                        <textarea name="new_comment" id="" cols="2" rows="3" class="form-control col-lg-6"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </div>
                </form>
            </div>
                {% for comment in question_comments %}
                    <div class="comments">
                        {{comment.message}}
                    </div>
                {% endfor %}
        </div>
        <div class="card-footer ">
            asked {{ question.submisson_time }}
        </div>
    </div>



    {% for item in answer %}
    <div class="card mt-3 text-white">
        <div class="card-body">
            {{ item.message|safe }}
            <img src="{{ item.image }}" class="rounded img-fluid d-block answer_img" alt="">
        </div>
        <div class="card-footer ">
            <form method="post" action="{{ url_for('display_question', id=question.id) }}/vote-up" id="answer_form">
                <span class="btn btn-primary">{{ item["vote_number"] }}</span>
                <input type="hidden" name="answer_id" value="{{ item.id }}">
                <button type="submit" class="btn btn-secondary" formaction="{{ url_for('display_question', id=question.id) }}/vote-up">VOTE UP</button>
                <button type="submit" class="btn btn-secondary" formaction="{{ url_for('display_question', id=question.id) }}/vote-down">VOTE DOWN</button>
                <button type="submit" class="btn btn-secondary" formaction="{{ url_for('delete_answer', answer_id=item.id) }}">DELETE</button>
            </form>
            <span class="asked">asked: {{ item.submisson_time }}</span>

        </div>
    </div>

    {% endfor %}

    <a href="{{url_for('answer_form', question_id=question.id)}}" class="floor"><button class="btn btn-primary text-white mt-3 mb-3">Add Answer</button></a>

{% endblock %}