{% extends "layout.html" %}
{% block title %}Answers for {{id}}{% endblock %}

{% block content %}
    <a href="{{url_for('display_question', id=question['id'])}}/new-answer"><button class="btn btn-primary text-white">Add Answer</button></a>
    <div class="card bg-primary text-white mt-3">
        <div class="card-header">
            <span class="font-weight-bold">{{ question["title"] }}</span>
        </div>
        <div class="card-body">
           <p class="card-text">{{ question["message"] }}</p>
        </div>
        <div class="card-footer ">
            asked {{ question["submisson_time"] }}
        </div>
    </div>

    {% for item in answer %}
    <div class="card mt-3 text-white">
        <div class="card-body">
            {{ item["message"] }}
        </div>
        <div class="card-footer ">
            asked: {{ item["submisson_time"] }}
        </div>
    </div>

    {% endfor %}

<a class="text-white" href="{{ url_for('list_questions') }}"><button class="btn btn-secondary mt-3 ">Go back</button></a>

{% endblock %}