{% extends 'layout.html' %}

{% block title %}
    User list
{% endblock %}


{% block content %}
    <table class="table table-hover table-responsive-lg">
        <tr class="bg-dark">
            <th>User ID</th>
            <th>Username</th>
            <th>Reputation</th>
        </tr>
        {% for user in user_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.reputation }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}