{% extends 'layout.html' %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <div class="row pl-4">
        <div class="col">
            <h1>{{ h1 }}</h1>
        </div>
    </div>
    <form enctype="multipart/form-data" method="POST" class="pl-4 pr-4">
        <fieldset>
            <div class="form-group p-0 col col-lg-6">
                <label for="message">Your answer:</label>
                <textarea name="message"
                          class="form-control"
                          id="message"
                          rows="8"
                          placeholder="Enter your answer here,&#10;at least 10 characters long"
                          required
                          pattern=".{10,}">{{ edit_data.get('message', '') if edit_data }}</textarea>
                <input class="mt-4" type=file name=file>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </fieldset>
    </form>
{% endblock %}