{% extends 'layout.html' %}

{% block title %}
Questions
{% endblock %}


{% block content %}
    <table>
        <tr>
            <th>Question ID</th>
            <form action="questions.html">
                <th><input type="submit" value="Question"></th>
                <th><input type="submit" value="Vote Number"></th>
                <th><input type="submit" value="View Number"></th>
                <th><input type="submit" value="Submission Time"></th>
            </form>

        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question["id"] }}</td>
            <td><a href="/question/{{  question['id'] }}">{{ question["title"] }}</a></td>
            <td>{{ question["view_number"] }}</td>
            <td>{{ question["vote_number"] }}</td>
            <td>{{ question["submisson_time"] }}</td>
        </tr>
        {%  endfor %}
    </table>
{% endblock %}